
      .pagination li {
        display: inline-block;
        padding: 5px;
    }
    .btn{
       background:#30a5ff !important;
    }
    /*main div overflow*/
    .qust {
min-height: 200px;
overflow-y: auto;
max-height: 250px;
}

p{
    font-weight: 550  !important;
    font-size: 17px  !important;

}
label{
    font-weight: 550  !important;

}