

<div class="wrapper wrapper-content animated fadeIn">
   <div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <table width="70%">
                    <tr>
                        <td>
                        <select class="form-control m-b" tabindex="4" ng-model="dobmonth" ng-change="dobmonthget($index);" ng-options="month.id as month.name for month in months ">
                            <option value="" class="">Select Month</option>
                        </select>
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <td> 
                            <select class="form-control m-b" tabindex="4" ng-model="dobdate" ng-options="dobdate.id as dobdate.name for dobdate in dobdates">
                            <option value="" class="">Select Date</option>
                        </select>
                            </td>
                            <td>
                                &nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <button type="button" ng-click="statusChange('date_of_birth')" class="btn btn-danger"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button> 
                            </td>   
                    </tr>
                    <tr><td>
                       <!--  <textarea type="text" name="banner-url" ng-model="message" class="form-control ng-pristine ng-valid" ng-trim="true"></textarea> -->
                    </td>
                     <td>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                        <td><!-- 
                            <button type="button" ng-click="" class="btn btn-primary">Send</button>  -->
                        </td>
                    </tr>
                </table>
            </div>
        </div>

                <div class="ibox-title" ng-hide="sendpush">
                      <!--  <select ng-model="statusval"  ng-options="status.value as status.name for status in statusDropdown | orderBy:'name'" ng-trim="true" ng-change="statusChange()">
                            <option value="">Select Status</option>
                  </select>  -->
                <ul class="nav nav-tabs">
                     
                    <li  class="active"><a href="appointments/#tab_a" data-toggle="tab" ng-click="statusChange('date_of_birth')">Dob</a></li>
                    <li><a href="appointments/#tab_a" data-toggle="tab" ng-click="statusChange('date_of_anniversary')">Doa</a></li>
                </ul>
                    <!-- end of nav -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_a">
                           <h1></h1>
                             <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th></th>
                                <th>S. No.</th>
                                <th>Index</th>
                                <th>ID</th>
                                <th>User name</th>
                                <th>Phone No</th>
                                
                                <th>Date</th>
                                 
                                
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="user in list | orderBy:'-index'">
                                 <td>
                                    <input type="checkbox" ng-model="list[user.id]" ng-click="sendVal(user.id,$index)" ng-checked="user.checked">
                                     
                                </td>
                                <td>{{droppage+$index+1}}</td>
                                <td>{{user.index}}</td>
                                <td>{{user.id}}</td>
                                <td>{{user["name"]}}  </td>
                                 <td>{{user["mobileno"]}}</td>
                                <td>{{user[statusTab] | monthDate }}</td>
                              
                               
                               
                            </tr>
                        </tbody>
                    </table>
                             <div class="pager">

                                    <ul class="paginate  clearfix float-right" >
                                             
                                    <li class="navpage" ng-hide="droppage == 0"  ng-hide="droppage == 1"><a  ng-click="currentPage1('prev')">Prev</a></li>
                                         
                                    <li class="single"> Page {{droppage | currentpage1}} of {{pages}}</li>
                                        
                                    <li class="navpage"  ng-hide="droppage ==  nexthideli"><a  ng-click="currentPage1('next')">Next</a></li>
                                                           
                                    <li class="navpage">
                                       
                                        <a>Pages: <select  tabindex="4" ng-model="droppage" ng-change="gotopage(droppage)" ng-options=" option.name as option.id  for option in page">
                                        </select> 
                                         </a>
                                    </li>

                                 </ul>
                             
                             </div>

                        </div>
                         
                      
                    </div>
                    <!-- tab content -->
                  
               
            </div>


                <div class="ibox-title" ng-show="sendpush">
                    <table width="70%">
                    <tr>
                        <td>
                       <textarea type="text" name="banner-url" ng-model="message" placeholder="Message" class="form-control ng-pristine ng-valid" ng-trim="true"></textarea>
                        </td>
                        
                       
                            <td>
                                &nbsp;&nbsp;&nbsp;</td>
                            <td>
                              <button type="button" ng-click="send()" class="btn btn-primary">Send</button>
                            </td>   
                    </tr>
                
                </table>
                     
                         
               </div> 

        </div>
    </div>
</div>
